body {
    color: #4e4e4e;
    font: message-box;
    margin: 90px;
    margin-top: 50px;
    line-height: 1.5em;
}
h1 {
    border-bottom: 1px solid #f5f5f5;
}
h1, h2 {
    border-bottom: 1px solid #f5f5f5;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a, a:visited {
    color: #4789ca;
}
code {
    background-color: #f5f5f5;
    border: 1px solid #f1f1f1;
    padding-right: 3px;
    padding-left: 3px;
}
